<div class="container d-flex justify-content-evenly">
  <div class="d-flex flex-column align-items-center">
  <h1 class="mt-5 mb-5">Past Events</h1>
    <% @events.past.each do | event | %>
    <div class="card text-center ms-2 me-2 mb-2" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title"><%= event.location %></h5>
        <h6 class="card-subtitle mb-2 text-muted">Date: <%= event.date %></h6>
        <p class="card-text"><%= event.details %></p>
        <%= link_to "View details", event_path(event), class:"btn btn-primary card-link" %>
      </div>
    </div>
    <% end %>
  </div>
  <div class="d-flex flex-column align-items-center">
  <h1 class="mt-5 mb-5">Future Events</h1>
      <% @events.future.each do | event | %>
      <div class="card text-center ms-2 me-2 mb-2" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title"><%= event.location %></h5>
          <h6 class="card-subtitle mb-2 text-muted">Date: <%= event.date %></h6>
          <p class="card-text"><%= event.details %></p>
          <%= link_to "View details", event_path(event), class:"btn btn-primary card-link" %>
        </div>
      </div>
      <% end %>
  </div>
</div>